html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.restaurant-container {
    padding: 1rem;
    position: relative;
}

/* header */

.header {
    position: fixed;
    width: calc(92%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
}

.logo {
    width: 5.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-item ul {
    display: flex;
    justify-content: space-around;
    gap: clamp(1rem, 40px, 2rem);
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

}

.nav-item ul li {
    color: rgba(0, 0, 0, 0.65);
    transition: color 300ms linear;
    cursor: pointer;
}

.nav-item ul li:hover {
    color: black;
}

/* restaurants list */
.restaurants-list {
    position: relative;
    top: 100px;
    margin: 2rem 3rem;
}

/* search */
.search-container {
    margin-bottom: 1rem;
}