@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.restaurant-container {
    padding: 1rem;
    position: relative;
}

.btn {
    background-color: #c14d2a;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.heading {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    margin-block: 1rem;
}

.primary-btn {
    place-self: flex-end;
    margin-block: 1.5rem 0.5rem;
}

.top-rated {
    place-self: flex-end;
    margin: 0;
}

.secondary-btn {
    background-color: white;
    color: #c14d2a;
    outline: 2px solid rgba(0, 0, 0, 0.05);
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
    background-color: white;
    z-index: 2;
}

.logo {
    width: 5.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: clamp(1rem, 40px, 2rem);
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

}

.nav-item ul li a {
    color: rgba(0, 0, 0, 0.65);
    transition: color 300ms linear;
    cursor: pointer;
    padding-bottom: 4px;
}

a.active {
    color: black;
    border-bottom: 3px solid #c14d2a;
}

.nav-item ul li:hover {
    color: black;
}

/* restaurants list */



.restaurants-list,
.about,
.contact,
.shimmer-container,
.menu-container {
    margin: 3rem;
}

/* search */
.filters {
    max-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    font-family: "Open Sans", sans-serif;
}

.search-container {
    position: relative;
}

.search-container input {
    border: 2px solid rgba(0, 0, 0, 0.05);
    width: 200px;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
}

.search-container .close {
    width: 24px;
    position: absolute;
    left: 55%;
    top: 10px;
    cursor: pointer;
}

.restaurants-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

/* restaurants cards */
.card-container {
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin-left: 1.5rem;
}


.restaurant-card {
    width: 300px;
    outline: 1.25px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.restaurant-card:hover {
    outline: none;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
}

.restaurant-card img {
    width: 100%;
    height: 180px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.restaurant-info {
    margin: 1rem 1.25rem 2rem;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.restuarant-group .star {
    width: 18px;
    height: 18px;
}

.restaurant-info>h3 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: capitalize;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.restaurant-info>p {
    color: #6c6c6c;
    font-size: 0.75rem;
    line-height: 1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 0.2rem 0 1rem 0;
}

.restuarant-group p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.restuarant-group,
.shimmer-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restuarant-group>span,
.dish-additional>span {
    width: 4px;
    height: 4px;
    margin-inline: 4px;
    background-color: #6c6c6c;
    border-radius: 50%;
}


/* for shimmer effect */

.shimmer {
    opacity: 0.9;
    /* alternate for smoother transition */
    animation: shimmer-animation linear infinite 1s alternate;
    border-radius: 4px;
    padding-bottom: 1rem;
}

@keyframes shimmer-animation {
    0% {
        background-color: hsl(204, 2%, 60%);
    }

    100% {
        background-color: hsl(204, 2%, 95%);
    }
}

.shimmer-container {
    display: flex;
    row-gap: 1rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    padding-top: 9rem;
}

.shimmer-card {
    padding-bottom: 1rem;
    width: 300px;
    border-radius: 8px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.shimmer-image {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.shimmer-info {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

h3.shimmer,
h3~p.shimmer {
    width: 90%;
    height: 1rem;
    margin-bottom: 0.25rem;
}

h3~p.shimmer {
    width: 80%;
}

.shimmer-group p {
    height: 1rem;
    width: 2rem;
    margin-block-start: 0.5rem;
}

.not-found {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.not-found img {
    width: 400px;
}

/* menus */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.menu-container>h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid #c14d2a;

}

.res-details {
    min-width: 600px;
    background-color: #f5f5ff;
    padding: 1.5rem;
    border-radius: 16px;
    margin-bottom: 2rem;
}

.res-details>img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
}

.res-info>div {
    display: flex;
    gap: 1rem;
}

.res-info>div h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.res-info>div h3:first-child {
    display: flex;
}

.res-open {
    color: #128232;
}

.res-close {
    color: red;
}

.res-additional,
.res-additional div {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.cuisines,
.price {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-block: 0.5rem;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}




.menu-item {
    background-color: #f5f5f5;
    border-radius: 16px;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    min-width: 900px;
}



.menu-item h3 span {
    font-size: 1.2rem;
    color: #5e5e5e;
}

.veg,
.non-veg {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.veg {
    outline: 2px solid green;
}

.non-veg {
    outline: 2px solid red;
}

.veg>div,
.non-veg>div {
    background-color: green;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.non-veg>div {
    background-color: red;
}


/* individual dishes */

.dish {
    display: flex;
    margin-bottom: 1.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 16px;
    justify-content: space-between;
}

.dish-image {
    width: 200px;
    display: flex;
    text-align: center;
    place-items: center;
}

.dish-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.dish-image p {
    color: #6c6c6c;
    padding-left: 1rem;
}



.dish-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    flex: 0.9;
    justify-self: flex-end;
}

.dish-details h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.dish-description {
    font-family: "Open Sans", sans-serif;
    max-width: 600px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
    color: #727272;
}


.dish-additional {
    font-family: "Open Sans", sans-serif;
    display: flex;
    place-items: center;
    max-width: max-content;
    gap: 1.25rem;
}

.dish-rating {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.dish-rating h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-star,
.location {
    width: 24px;
    margin-right: 0.5rem;
}

.button-add {
    color: #39824d;
    outline: 1.25px solid#39824d;
    background-color: transparent;
    font-weight: 600;
    margin-top: 1rem;
    max-width: max-content;
}

/*offline  */

.offline-indicator {
    position: fixed;
    bottom: 2rem;
    right: 45%;
    background-color: #d1d1ff;
    padding: 1rem 3rem;
    border-radius: 16px;
    animation: fade-in ease-in-out 800ms;

}

.offline-indicator h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 600;
}

.offline-indicator p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.25rem;
    font-weight: 400;
}

.online-status {
    display: flex;
    align-items: center;

}


@keyframes fade-in {
    0% {
        bottom: 0rem;
        opacity: 0;
    }

    100% {
        bottom: 2rem;
        opacity: 1;
    }
}