html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.restaurant-container {
    padding: 1rem;
    position: relative;
}

.primary-btn {
    place-self: flex-end;
    margin-block: 1.5rem 0.5rem;
    background-color: #cc522d;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-btn {
    background-color: white;
    color: #cc522d;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    outline: 2px solid rgba(0, 0, 0, 0.05);
}

/* header */

.header {
    position: fixed;
    width: calc(92%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
    background-color: white;
    z-index: 2;
}

.logo {
    width: 5.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: clamp(1rem, 40px, 2rem);
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;

}

.nav-item ul li {
    color: rgba(0, 0, 0, 0.65);
    transition: color 300ms linear;
    cursor: pointer;
}

.nav-item ul li:hover {
    color: black;
}

/* restaurants list */



.restaurants-list {
    position: relative;
    top: 100px;
    margin: 2rem 3rem;
}

/* search */
.search-container {
    margin-bottom: 1rem;
}

.restaurants-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

/* restaurants cards */
.card-container {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.restaurant-card {
    width: 300px;
    outline: 1.25px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.restaurant-card:hover {
    outline: none;
    box-shadow: 1px 3px 30px -14px rgba(0, 0, 0, 0.75);
}

.restaurant-card img {
    width: 100%;
    height: 180px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.restaurant-info {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.restuarant-group .star {
    width: 24px;
    height: 24px;
}

.restaurant-info>h3 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-transform: capitalize;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.restaurant-info>p {
    color: #6c6c6c;
    font-size: 0.75rem;
    line-height: 1rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 0.2rem 0 1rem 0;
}

.restuarant-group p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.restuarant-group,
.shimmer-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restuarant-group>span {
    width: 4px;
    height: 4px;
    margin-inline: 4px;
    background-color: #6c6c6c;
    border-radius: 50%;
}


/* for shimmer effect */

.shimmer {
    opacity: 0.9;
    /* alternate for smoother transition */
    animation: shimmer-animation linear infinite 1s alternate;
    border-radius: 4px;
}

@keyframes shimmer-animation {
    0% {
        background-color: hsl(204, 2%, 60%);
    }

    100% {
        background-color: hsl(204, 2%, 95%);
    }
}

.shimmer-container {

    position: relative;
    top: 240px;
    display: flex;
    row-gap: 1rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 3rem;

}

.shimmer-card {
    width: 300px;
    border-radius: 8px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.shimmer-btn {
    place-self: flex-end;
    margin-block: 1.5rem 0.5rem;
    border: none;
    padding: 1.25rem 4rem;
}

.shimmer-image {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.shimmer-info {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

h3.shimmer,
h3~p.shimmer {
    width: 90%;
    height: 1rem;
    margin-bottom: 0.25rem;
}

h3~p.shimmer {
    width: 80%;
}

.shimmer-group p {
    height: 1rem;
    width: 2rem;
    margin-block-start: 0.5rem;
}