@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in::after {
    content: "";
    margin-left: 2rem;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    border-inline-end-color: transparent;
    animation: spin infinite 500ms linear;
}

.bg-image {
    background-image: url('./asset/poster_bg.png');
    background-position: center;
    background-repeat: no-repeat;
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}